doctype 5
html(lang="ru")
	head
		title Просмотр #{unit.name}
		style
			body { background-color:lightgrey ;}
			table,th,td 
			{ border-radius: 20px;
			background-color: white}
	body
		p
			table(border=1)
				tr
					td(colspan=2) 	
						h2 Атрибуты #{unit.name}